body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    background-color: #d7dbdc;
    margin: 0;
}

.navbar {
    background-color: rgba(94, 93, 88, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    /* max-width: 1160px; */
    margin: 0 auto;

}

.icon {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-weight: 700;
}

.navbar a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.navbar-items {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    font-weight: 700;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.navbar-link:hover {
    color: #18CFAB;
    transition: 0.3s;
    filter: invert(56%) sepia(75%) saturate(466%) hue-rotate(118deg) brightness(103%) contrast(89%);
}

.navbar-link {
    margin-right: 22px;
    position: relative;
}

.navbar-link::after {
    content: '';
    height: 4px;
    width: 100%;
    background: #18CFAB;
    display: block;
    position: absolute;
    left: 0;
    bottom: -50px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.navbar-link:hover::after {
    opacity: 100%;
    transition: 0.3s;
}

#search-icon {
    position: relative;
    top: -1px;
    right: 0;
    transition: fill 0.3s;
}

.icon-figure {
    width: 58px;
    height: 67px;
}

.icon-h {
    width: 31px;
    height: 31px;
    color: #FFFFFF;
    margin-right: 20px;
    margin-left: -42px;
}

.icon a {
    opacity: 100%;
}

.header {
    /* background-image: url('../images/background_img.jpg'); */
    /* max-width: 1160px; */
    margin: 0 auto;
    height: 1012px;
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;
}

.parallax-background {
    background-image: url("../images/background_img.jpg");
    min-height: 1200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 4px 4px 4px black;
}

.header-text h1 {
    width: 637px;
    height: 35px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 0;
    margin-left: 70px;
}

.header-text span {
    color: #18CFAB;
}

.header-text h2 {
    text-align: center;
    width: 798px;
    height: 70px;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 78px;
    margin: 0 auto 20px auto;
}

.header-text h3 {
    color: #D4D4D4;
    text-align: center;
    font-weight: 400;
    font-size: 34px;
    width: 795px;
    height: 34px;
    margin: 0 auto;
}

.btn-wraper {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-btn {
    background-color: #18CFAB;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px 11px;
    width: 168px;
    height: 63px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    line-height: 246%;
    margin-bottom: 99px;
    position: relative;
    z-index: 1;
    margin-right: 12px;
}

.explore-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3px;
    background-color: #00CBF6;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1;
}

.explore-btn:hover::before,
.explore-btn:active::before {
    transform: scale(1);
}


.purchase-btn {
    background-color: #18CFAB;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px 11px;
    width: 168px;
    height: 63px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    line-height: 246%;
    margin-bottom: 99px;
    position: relative;
    z-index: 1;
    margin-left: 12px;
}

.purchase-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3px;
    background-color: #00CBF6;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1;
}

.purchase-btn:hover::before,
.purchase-btn:active::before {
    transform: scale(1);
}

.four-options {
    display: flex;
    justify-content: space-around;
    /* height: 377px;
    max-width: 100%; */
    text-transform: uppercase;
}

.block1,
.block3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1C2A33;
    width: 482px;
    height: 377px;
    margin: 0 auto;
}

.block1:hover,
.block3:hover {
    filter: brightness(62%);
}

.block1 h1,
.block3 h1 {
    color: #18CFAB;
    font-size: 700;
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    height: 25px;
}

.block2 h1,
.block4 h1 {
    color: #FFFFFF;
    font-size: 700;
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    height: 25px;
}

.block2,
.block4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #18CFAB;
    width: 482px;
    height: 377px;
    margin: 0 auto;
}

.block2:hover,
.block4:hover {
    filter: brightness(62%);
}

.block1 img {
    width: 61px;
    height: 100px;
    margin-bottom: 41px;
}

.block2 img {
    width: 93px;
    height: 75px;
    margin-bottom: 65px;
}

.block3 img {
    width: 60px;
    height: 96px;
    margin-bottom: 41px;
}

.block4 img {
    width: 99px;
    height: 76px;
    margin-bottom: 65px;
}

.block1 a,
.block2 a,
.block3 a,
.block4 a {
    text-decoration: none;
}

.service {
    /* max-width: 1160px; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    background-color: #FFFFFF;
}

.title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    position: relative;
    margin-bottom: 100px;
}

.title::after {
    content: '';
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    display: block;
    transition: all 0.2s;
    pointer-events: none;
    position: absolute;
    top: 70px;
    left: 70px;
}

.title::before {
    content: ' ';
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    display: block;
    transition: all 0.2s;
    pointer-events: none;
    position: absolute;
    top: 75px;
    left: 80px;
}

.subtitles {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    color: #717171;
    width: 1160px;
    background-color: #FFFFFF;
}

.subtitles a {
    display: flex;
    width: 192px;
    height: 72px;
    background-color: #F8FCFE;
    border: 2px solid #EDEFEF;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    text-decoration: none;
    color: #717171;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    position: relative;
}

.subtitles a:focus::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 27px;
    border-style: solid;
    border-color: #18CFAB transparent transparent transparent;
    transition: border-color 0.3s ease;
}

.subtitles a:hover {
    border: 2px solid#18CFAB;
}

.subtitles a:active {
    background-color: #18CFAB;
}

.subtitles-defenitions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    position: absolute;
    width: 80%;
    bottom: 35px;
    left: 149px;
}

.tab-content {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
    display: none;
}

.tab-content.active {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
}

.tab-content img {
    margin-right: 15px;
    margin-left: 0;
    padding-left: 0;
    width: 192px;
    height: 140px;
}

.tab-content p {
    color: #777777;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
}

.purchase {
    margin: 0 auto;
    /* max-width: 1160px; */
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/bacground_purchase_section.jpg');
    padding: 126px auto;
}

.purchase h1 {
    text-transform: uppercase;
    color: #18CFAB;
    font-weight: 700;
    font-size: 40px;
    line-height: 40.46px;
    line-height: 83%;
    margin-bottom: 12px;
}

.purchase h2 {
    font-weight: 400;
    color: #D8D8D8;
    font-size: 16px;
    line-height: 40px;
    line-height: 205%;
    margin-bottom: 62px;
}

.purchase button {
    background-color: #18CFAB;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px 11px;
    width: 168px;
    height: 63px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    line-height: 246%;
    margin-bottom: 99px;
    position: relative;
    z-index: 1;
}

.purchase button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3px;
    background-color: #00CBF6;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1;
}

.purchase button:hover::before,
.purchase button:active::before {
    transform: scale(1);
}

.work {
    /* max-width: 1160px; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/backround_work_section.jpg");
    background-size: cover;
    margin-bottom: 82px;
}

.work ul li.active {
    background-color:#18CFAB ;
    opacity: 50%;
    color: #FFFFFF;
}

.title-work {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-bottom: 97px;
    margin-top: 96px;
    position: relative;
}

.title-work::after {
    content: '';
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    display: block;
    transition: all 0.2s;
    pointer-events: none;
    position: absolute;
    top: 65px;
    left: 130px;
}

.title-work::before {
    content: ' ';
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    display: block;
    transition: all 0.2s;
    pointer-events: none;
    position: absolute;
    top: 70px;
    left: 140px;
}

.menu-work-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    list-style-type: none;
    width: 650px;
    height: 62px;
    margin-bottom: 71px;
    padding: 0;
}

.menu-work-section-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 98%;
    text-decoration: none;
    font-size: 400;
    font-size: 14px;
    line-height: 42px;
    line-height: 246%;
    color: #717171;
    width: 100%;
    height: 100%;
    border-top: 2px solid #DADADA;
    border-bottom: 2px solid #DADADA;
    border-left: 2px solid #DADADA;
    border-right: 1px solid #DADADA;
    padding: 0;
    cursor: pointer;
}

.menu-work-section-item:last-child {
    border-right: 1px solid #DADADA;
}

.menu-work-section-item:hover {
    border: 2px solid #18CFAB;
    color: #18CFAB;
}

.images-section {
    width: 1140px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
}

.images-section img:hover {
    transform: scale(1.05);
}

.upper-left-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 283px;
    height: 206px;
    border-bottom: 2px solid #E9EDEF;
}

.upper-left-block:hover {
    border-top: 2px solid #18CFAB;
    border-bottom: none;
}

.upper-left-block-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#circel {
    margin-right: 3px;
}

#circel-inner {
    position: absolute;
    top: 14px;
    left: 14px;
}

#green-circe-inner {
    width: 12px;
    height: 11px;
    position: absolute;
    top: 17px;
    left: 60.5px;
}

.upper-left-block a {
    font-weight: 700;
    color: #18CFAB;
    text-transform: uppercase;
    font-size: 14.18px;
    line-height: 25.18px;
    line-height: 146%;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.upper-left-block h2 {
    font-weight: 300;
    color: #8A8A8A;
    font-size: 12.15px;
    line-height: 25.18px;
    line-height: 170%;
}

.work button {
    background-color: #18CFAB;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 168px;
    height: 63px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    line-height: 246%;
    margin-bottom: 99px;
    position: relative;
    z-index: 1;
}

.work button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00CBF6;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1;
}

.work button:hover::before,
.work button:active::before {
    transform: scale(1);
}

.breaking-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.breaking-news-wrapper {
    display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     gap: 35px;
     margin-bottom: 130px;
}

.breaking-news-content {
    width: 263px;
    height: 293px;
}

.breaking-news-title {
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-bottom: 97px;
    position: relative;
}

.breaking-news-title::after {
    content: '';
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    display: block;
    transition: all 0.2s;
    pointer-events: none;
    position: absolute;
    top: 65px;
    left: 100px;
}

.breaking-news-title::before {
    content: ' ';
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    display: block;
    transition: all 0.2s;
    pointer-events: none;
    position: absolute;
    top: 70px;
    left: 110px;
}

.image-breaking-news {
    position: relative;
    width: 263px;
    height: 208px;
}

.image-breaking-news:hover .news-date {
    background-color: #18CFAB;
}

.image-breaking-news:hover #posttitle-breaking-news-subtitle a {
    color: #18CFAB;
}

.news-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 68px;
    position: absolute;
    top: -16px;
    right: 0;
    background-color: #203E38;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px ;
    line-height: 128%;
}

.posttitle-breaking-news ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style-type: none;
    color: #777777;
    font-weight: 300;
    font-size: 13.99px;
    line-height: 38.94px;
    line-height: 228%;
}

#posttitle-breaking-news-subtitle {
    width: 227px;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 0;
    list-style-type: none;
}

#posttitle-breaking-news-subtitle a {
    text-decoration: none;
    font-weight: 700;
    color: #717171;
    font-size: 17.99px;
    line-height: 38.94px;
    line-height: 178%;
}

.clients-feedback {
    min-width: 0;
    overflow: auto; 
    min-height: 1200px;
    background-image: url('..//images/background_clients_section.jpg');
    margin-bottom: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

 

.clients-feedback-title {
    width: 613px;
    height: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    line-height: 91%;
    color: #FFFFFF;
    margin-bottom: 100px;
    position: relative;
    text-align: center;
    margin-top: 67px;
}

.clients-feedback-title::after {
    content: '';
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    display: block;
    transition: all 0.2s;
    pointer-events: none;
    position: absolute;
    top: 65px;
    left: 260px;
}

.clients-feedback-title::before {
    content: ' ';
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    display: block;
    transition: all 0.2s;
    pointer-events: none;
    position: absolute;
    top: 70px;
    left: 270px;
}

.client-info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.client-info-section img {
    width: 50px;
    height: 35px;
}

.slider {
    width: 100%;
    height: 1em;
    margin-bottom: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider p {
    width: 1160px;
    height: 45px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px; 
    line-height: 154%;
    margin-bottom: 37px;
    color: #BBBBBB;
    text-align: center;
}

.slider h1 {
    color: #18CFAB ;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    /* text-transform: uppercase; */
}

.slider h2 {
    color: #BBBBBB ;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    margin-bottom: 31px;
}

.slider-nav {
    width: 42%;
    height: 100%;
    position: relative;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slick-arrow.slick-prev {
    width: 31px;
    height: 31px;
    font-size: 0;
    background-image: url('../images/slider_left_string.svg');
    background-position: center;
    background-repeat: no-repeat;
     background-color: inherit;
    border: 1px solid #BBBBBB;
    position: absolute;
    left: -8%;
    top: 25%;
}

.slick-arrow.slick-next {
    width: 31px;
    height: 31px;
    font-size: 0;
    background-image: url('../images/slider_right_string.svg');
    background-position: center;
    background-repeat: no-repeat;
     background-color: inherit;
    border: 1px solid #BBBBBB;
    position: absolute;
    right: -8%;
    top: 25%;
}
 
.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
    background-color: #18CFAB;
    transition: 0.3s;
}

.slider img {
    border-radius: 50%;
    border: 8px solid #114C4B;
}

.slider-nav img {
    border-radius: 50%;
    border: 6px solid #114C4B;
}

.gallery-title {
    width: 613px;
    height: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    line-height: 91%;
    color: #4E4E4E;
    margin-bottom: 100px;
    position: relative;
    text-align: center;
    margin-top: 67px;
    margin-bottom: 110px;
}

.gallery-title::after {
    content: '';
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    display: block;
    transition: all 0.2s;
    pointer-events: none;
    position: absolute;
    top: 65px;
    left: 260px;
}

.gallery-title::before {
    content: ' ';
    background-color: #18CFAB;
    width: 75.54px;
    height: 1px;
    display: block;
    transition: all 0.2s;
    pointer-events: none;
    position: absolute;
    top: 70px;
    left: 270px;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    background-color: #FFFFFF;
} 

#gallery-img-id:hover {
    /* opacity: 0.5;  */
    filter: brightness(55%);
}

.gallary-images {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: repeat (10, 1fr);
    gap: 10px;
    grid-template-areas: 
    "a a d d g g"
    "a a d d g g"
    "a a d d g g"
    "b b d d g g"
    "b b e e g g"
    "b b e e h h"
    "c c e e h h"
    "c c f f h h"
    "c c f f h h"
    "c c f f h h";
}

.grid-item1 {
    grid-area: a;
}

.grid-item2 {
    grid-area: b;
}

.grid-item3 {
    grid-area: c;
}

.grid-item4 {
    grid-area: d;
}

.grid-item5 {
    grid-area: e;
}

.grid-item6{
    grid-area: f;
}

.grid-item7 {
    grid-area: g;  
}

.grid-item8 {
    grid-area: h;
}

.grid-inside-grid {
    display: grid;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: repeat (5, 1fr);
    gap: 5px;
    grid-template-areas: 
    "a a a b b b"
    "a a a b b b"
    "c c d d e e"
    "f f g g k k"
    "l l m m n n";
}

.grid-inside-grid-item1 {
    grid-area: a;
}

.grid-inside-grid-item2 {
    grid-area: b;
}

.grid-inside-grid-item3 {
    grid-area: c;
}

.grid-inside-grid-item4 {
    grid-area: d;
}

.grid-inside-grid-item5 {
    grid-area: e;
}

.grid-inside-grid-item6 {
    grid-area: f;
}

.grid-inside-grid-item7 {
    grid-area: g;
}

.grid-inside-grid-item8 {
    grid-area: k;
}

.grid-inside-grid-item9 {
    grid-area: l;
}

.grid-inside-grid-item10 {
    grid-area: m;
}

.grid-inside-grid-item11 {
    grid-area: n;
}

  
#gallery-load-more-button {
    background-color: #18CFAB;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 168px;
    height: 63px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    line-height: 246%;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}

#gallery-load-more-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00CBF6;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1;
}

#gallery-load-more-button:hover::before,
#gallery-load-more-button:active::before {
    transform: scale(1);
}

.footer {
    width: 100%;
    height: 121px;
    background-color: #22353F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer h1 {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    line-height: 152%;
    color: #AEAEAE;
}

.footer span {
    color: #18CFAB;
}

